<form action="/celebrities/create" method="POST">
  <label for="">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="">Occupation:</label>
  <input type="text" name="ocuppation"id="occu" />

  <label for="">catchPhrase:</label>
  <input type="text" name="catchphrase" id="phrase"/>

  <button type="submit">ADD</button>
</form>