<h2>Add your own Celebrity</h2>
<h5>Please help us completing the following information:</h5>

<form action="/celebrities/create" method="POST">
    <input name="name" id=""  placeholder="Name?"></input>
    <input name="occupation" id=""  placeholder="Occupation?"></input>
    <input name="catchphrase" id=""  placeholder="Catch Phrase!"></input>
    <button>Add Celebrity</button>
</form>