<h2>Add your own Celebrity</h2>
<h5>Please help us completing the following information:</h5>

<form action="/celebrities/create" method="POST">
    <textarea name="name" id="" cols="30" rows="4" placeholder="Name?"></textarea>
    <textarea name="occupation" id="" cols="30" rows="4" placeholder="Occupation?"></textarea>
    <textarea name="catchphrase" id="" cols="30" rows="10" placeholder="Catch Phrase!"></textarea>
    <button>Add Celebrity</button>
</form> 