<h2>Here you can add your celebrities !!</h2>
  
<form action="" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Enter the Name" required minlength="5"/>
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation" placeholder="Enter the Occupation" />
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="Enter The Catch Phrase of the person" />
  <button>Submit</button>
</form>