<h2>Add a Celebrity!</h2>

<section class="form">
  <form action="" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Celebrity name"/>
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" id="occupation" placeholder="Occupation" />
    <label for="catchPhrase">catchphrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase" placeholder="Catchphrase" />
    <button>Input Celebrity</button>
  </form>
</section>