<h2>
    <form method="POST" action='/celebrities'>
        <label for="name-input">Artist name</label>
        <input type="text" id="name-input" name="name" placeholder="Artist name" required>

        <label for="occupation-input">Occupation</label>
        <input type="text" id="occupation-input" name="occupation" placeholder="Artist occupation" required>
        
        <label for="catch-pharse-input">catch-pharse</label>
        <input type="text" id="catch-pharse-input" name="catchPharse" placeholder="Artist catch-pharse" required>

        <button>Submit</button>
    </form>
</h2>