<h2>Create a Celebrity</h2>

<form method="POST">
<label for="name">Celebrity's Name</label>
<input type="text" name="name" id="name" placeholder="Name">

<label for="occupation">Occupation</label>
<input type="text" name="occupation" id="occupation" placeholder="Occupation">

<label for="catchphrase">Catch Phrase</label>
<input type="text" name="catchphrase" id="catchphrase" placeholder="Catch Phrase">

<button>Submit</button>

</form>