
<h2>List of Celebrities:</h2>

<ul>
    {{#each celebrities}}
    <br>
    <li>
        
<a href="/celebrities/{{ _id }}">{{name}}</a>
    </li>
    {{/each}}


</ul>
    <a href="/celebrities/create">Add a celebrity to the list</a>


