<h2>Celebrities List</h2>

{{#each celebrities}}
 <ul>

  <a href="/celebrities/{{ _id }}">{{ name }}</a>

 <form action="/celebrities/{{ _id }}/delete" method="POST">
  <button>Delete</button>
</form>

 </ul>
{{/each}}