    {{#each celebrity}}
        <a href="/celebrities/{{id}}">
            <h2>
                {{name}}
            </h2>
        </a>
        <form method="POST" action="/celebrities/{{id}}/delete">
            <button>Delete</button>
        </form>
    {{/each}}

<a href="/celebrities/create">Post some new celebrity gossip</a>