
<h2>See the details of the celebrities:</h2>

{{#with id}}
<p><strong>Name: </strong> {{name}} </p>

<p><strong>Occupation: </strong>{{occupation}}</p>

<p><strong>Catch phrase: </strong>"{{catchPhrase}}"</p>

{{/with}}