
<div class="card show" style="width: 36rem;">
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ occupation }}</h6>
    <p class="card-text">{{ catchPhrase }}</p>
    <a href="/celebrities" class="btn btn-outline-primary card-link"> List of celebrities</a>
  </div>
</div>