<h2>Edit Celeb Info </h2>

<form action="/celebrities/{{celebId}}/edit" method="POST">
<input name="text" value={{Celebrity.name}} /> 
<input occupation="text" value={{Celebrity.occupation}} /> 
 <input catchPhrase="text" value={{Celebrity.catchPhrase}} /> 
 <button>Edit</button>
</form>


