<h2>Edit</h2>
<form action='/celebrities/{{celeb.id}}' method='POST'>
  <input name='name' type='text' value='{{celeb.name}}'/>
  <input name='occupation' type='text' value='{{celeb.occupation}}'/>
  <input name='catchPhrase' type='text' value='{{celeb.catchPhrase}}'/>
  <button type='submit'>Submit</button>
</form>