<h2>Celebrities</h2>
{{#each celebs}}
<ul>
  <li><a href="/celebrities/{{id}}">{{name}}</a></li>
  


</ul>
{{/each}}
  <a href="/celebrities/new/">Add a new celebrity</a>
  <br>
  <a href="/">back</a>