<h2>New celebrity!</h2>
<form action="/celebrities" method="post">
    <input type="text" name="name" id="name">
    <input type="text" name="occupation" id="occupation">
    <input type="text" name="catchPhrase" id="catchPhrase">
    <button>Let's go!</button>
</form>