<h2>Add a celebrity to our glamorous list of glamorous celebrities</h2>
<form action="/create" method="post">
    <input name="name" type="text">
    <input name="occupation" type="text">
    <input name="catchPhrase" type="text">
    <button>Submit</button>

</form>