<h2>Create a new Celebrity</h2>
<form action="/post/create" method="POST">
  <input type="text" name="name">
  <input type="text" name="occupation">
  <input type="text" name="catchPhrase">
  {{!-- <textarea name="text" maxlength="140"></textarea> --}}
  <button>Create</button>
</form>