<h2>Add a celebrity to our glamorous list of glamorous celebrities</h2>
<div class="create-something">
    <form action="/celebrities/create" method="post">
        <input name="name" type="text" placeholder="name" autocomplete="off">
        <input name="occupation" type="text" placeholder="what do they do?" autocomplete="off">
        <input name="catchPhrase" type="text" placeholder="catch phrase" autocomplete="off">
        <button>Submit</button>

    </form>
</div>