<div class="presentation_pages">
    <h2>Add a new celebrity!</h2>
    <form action="/celebrities/new" method="POST">
        Name: <input type="text" name="name" required>
        Occupation: <input type="text" name="occupation" required>
        Catch Phrase: <input type="text" name="catchPhrase">
        <button>Add celebrity</button>
    </form>
</div>