<h2>New celebrity</h2>
<form action="/celebrities" method='POST'>
  <input name='name' type='text' placeholder="insert name" />
  <input name='occupation' type='text' placeholder="insert occupation" />
  <input name='catchPhrase' type='text' placeholder="insert catchphrase" />
  <button type='submit'>Submit</button>
</form>