<h1>Add your favorite actor</h1>
<form action="/new/create" method="POST">
  <textarea name="text" maxlength="140"></textarea>
  <textarea name="text" maxlength="140"></textarea>
  <textarea name="text" maxlength="140"></textarea>
  <input type="submit">
</form>