<h2>Add a new celebrity to the DB.</h2>
<form action="/celebrities" method="POST">
  <input name='name' type='text' placeholder="Insert Name" />
  <input name='occupation' type='text' placeholder="Insert Occupation" />
  <input name='catchPhrase' type='text' placeholder="Insert Catch-Phrase" />
  <button>Add</button>
</form>