{{#with celebrity}}
<h2>This is the heading of views</h2>
  <p>{{ name}}</p>
  <p>{{ occupation}}</p>
  <p>{{ catchPhrase}}</p>
{{/with}}



{{!-- 
{{#each celebrities}}
<p>{{ name}}</p>
{{/each}} --}}
