<div class="line-content">
    <a href="/celebrities/{{this._id}}">
        <h5>{{this.name}}</h5>
    </a>

    <div class="end-btns"><a href="/celebrities/{{this._id}}/edit"> edit
            it</a>
        <form action="/celebrities/{{this._id}}/delete" method="post"><button>delete it</button></form>
    </div>
</div>