<div class="navbar">
    <div><a href="/"><img src="./images/13488692411447.png" alt="penguin not loaded"></a></div>
    <div><a href="/celebrities">go to celebs</a>
        <a href="/celebrities/new">add celebs</a>
        <a href="/movies">go to movies</a>
        <a href="/movies/new">add movies</a></div>
</div>