<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/index">Celebrities</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/celebrities/new">Add a celebrity!</a></li>
        <li><a href="/movies/new">Add a Movie</a></li>
    </ul>
</nav>