<div class="navbar">
    <a href="/"><h4>Celebrities And Movies</h4></a>
    <div class="links">
        <a href="/celebrities">Celebrities</a>
        <a href="/celebrities/create">Create Celebrity</a>
        <a href="/movies">Movies</a>
        <a href="/movies/create">Create Movie</a>
    </div>
</div>