<div class="navbar">
    <a href="/"><h4>Celebrities</h4></a>
    <div class="links">
        <a href="/celebrities">Celebrities</a>
        <a href="/celebrities/create">Create Celebrity</a>
    </div>
</div>