{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}
<div class="index">
  <section class="celebrities">
    <a href="/celebrities"><button type="button" class="btn btn-outline-primary"> List of celebrities </button></a>
    <a href="/celebrities/create"><button type="button" class="btn btn-outline-primary"> Create a celebrity </button></a>
  </section>

  <section class="movies">
    <a href="/movies"><button type="button" class="btn btn-outline-primary"> List of movies </button></a>
    <a href="/movies/create"><button type="button" class="btn btn-outline-primary"> Add a movie </button></a>
  </section>
</div>