<h1>Lab Mongoose Movies</h1>
<p>Welcome to Lab Mongoose Movies</p>


 <a href="/celebrities">Celebrity</a> <!-- this is /celebrities/ is just what will appear in the browser when clicking on Celebrity-->