<section class="home-page">
<h1>CMDB</h1>
<h2>Welcome to Celebrity Movie Database!</h2>

<a href="/celebrities">Check out our celebrities!</a>
<br/>
<a href="/movies">Check out our movies!</a>
</section>
