<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities"><button> List of celebrities </button></a>
<a href="/celebrities/create"><button> Create a celebrity </button></a>

<a href="/movies"><button> List of movies </button></a>
<a href="/movies/create"><button> Add a movie </button></a>