<h2>Feel free to add a new movie!</h2>

<form action="/movies/create" method="POST">
    <textarea name="title" id="" cols="10" rows="5" placeholder="Movie Title"></textarea>
    <textarea name="genre" id="" cols="10" rows="5" placeholder="Movie Genre"></textarea>
    <textarea name="plot" id="" cols="30" rows="10" placeholder="Movie Plot"></textarea>
    <button>Add Movie!</button>
</form>