<h2>New movie</h2>
<form action="/movies" method='POST'>
  <input name='title' type='text' placeholder="insert title" />
  <input name='genre' type='text' placeholder="insert genre" />
  <input name='plot' type='text' placeholder="insert plot" />
  <button type='submit'>Submit</button>
</form>