<div class="presentation_pages">
<h2>Add a movie</h2>
<form action="/movies/new" method="POST">
Title: <input type="text" name="title" id="" required>
Genre:<input type="text" name="genre" id="" required>
Plot: <input type="text" name="plot" id="">
<button>Add the movie</button></form>
</div>