<h2>Add a new movie to the DB.</h2>
<form action="/movies" method="POST">
  <input name='title' type='text' placeholder="Insert Title" />
  <input name='genre' type='text' placeholder="Insert Genre" />
  <input name='plot' type='text' placeholder="Insert Plot" />
  <button>Add</button>
</form>