<h2>Add a movie to our glamorous list of extra excellent movies</h2>
<div class="create-something">
    <form action="/movies/create" method="post">
        <input name="name" type="text" placeholder="title" autocomplete="off">
        <input name="genre" type="text" placeholder="what kind of film" autocomplete="off">
        <input name="plot" type="text" placeholder="plot" autocomplete="off">
        <button>Submit</button>

    </form>
</div>