<h2>Add your own Movie</h2>
<h5>Please help us completing the following information:</h5>

<form action="/movies/create" method="POST">
    <input name="title" id=""  placeholder="title?"></input>
    <input name="genre" id=""  placeholder="genre"></input>
    <input name="plot" id=""  placeholder="plot!"></input>
    <button>Add Movie</button>
</form>