<h2>Add new Movie</h2>
<form action="/movies/create" method="POST">
  <label for="name"> Title </label>
  <input type="text" name='title' id='titleCreate' placeholder="insert title" required>
  
  <label for="genre"> genre </label>
  <input type="text" name='genre' id='genreCreate' placeholder="insert genre" required>
  
  <label for="plot"> Plot </label>
  <input type="text" name='plot' id='plotCreate' placeholder="insert plot" required>

  <button type="submit"> Submit </button>
</form>