<h2>Edit Movies Here</h2>
<form action="movies/edit/{{movie._id}}" method="POST">
    <input name="title" id=""  placeholder="Name?">{{movie.title}}</input>
    <input name="genre" id=""  placeholder="Occupation?">{{movie.genre}}</input>
    <input name="plot" id=""  placeholder="Catch Phrase!">{{movie.plot}}</input>
    <button>Edit Movie</button>
</form>